Flask==3.1.0
flask-cors==5.0.1
gunicorn==20.1.0

numpy==2.1.1
opencv-python-headless==4.11.0.86
ultralytics==8.3.109
pyttsx3==2.98

tensorflow-cpu==2.19.0
onnx==1.17.0
onnxruntime==1.21.0

absl-py==2.2.2
click==8.1.8
protobuf==5.29.4
typing_extensions==4.13.2
