body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: url('./background.png') center no-repeat fixed;
  background-size: cover;
  min-height: 100vh;
  color: white;
}

.container {
  text-align: center;
  padding: 20px;
  background: url('./background.png') center no-repeat fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  gap: 15px;
  margin-bottom: 10px;
  margin-top: 20px; 
}

.vision-text {
  color: #00b4d8;
  font-size: 3.5rem;
  font-weight: 800;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  align-self: flex-start;
  margin: 0;
  position: relative;
  top: -31px;
}

.assistant-text {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 400;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  align-self: flex-start; /* Add this */
  margin: 0;
  position: relative;
  /* top: -5px; */
}

.subtitle {
  color: #5461da;
  font-size: 1.5rem;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: -20px;
}

.video-feed {
  width: 100%;
  max-width: 640px;
  height: 480px;
  /* aspect-ratio: 4/3; */
  border: 3px solid #023e8a;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 78, 146, 0.5);
  margin: 0 auto;
  object-fit: cover;
}

.alert {
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 1.2rem;
  color: #ff0000;
  background-color: rgba(50, 50, 50, 0.9);
  border-radius: 25px;
  display: inline-block;
  border: 2px solid #ff0000;
  animation: pulse 1.5s infinite;
  max-width: 80%;
  text-align: center;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

@media (max-width: 640px) {
  .header-container {
    margin-top: 15px;
    gap: 10px;
  }
  
  .vision-text {
    font-size: 2.5rem;
  }
  
  .assistant-text {
    font-size: 1.5rem;
    top: -9px;
  }

  .video-feed {
    max-width: 100%;
    height: 480px;
    width: 100%;

  }
  
  .subtitle {
    font-size: 1.2rem;
    margin-bottom: 20px;
    margin-top: -30px;
  }
  
  .alert {
    font-size: 1rem;
    padding: 10px 20px;

  }
}